.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;
    height: 100vh;
    
}
.about-container h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #0000FF;
    padding: 2rem;
}

.about {
    width: 70%;
    display: flex;

    
}

.about h2{
    
    color: #000C66;
    font-size: 2rem;
    padding: 10px;
    
}
.about p{
    font-weight: bold;
    color: #000C66;
    font-size: 1.25rem;
    padding: 10px;
    border-left: solid 5px #189AB4;

}



.about-container a {
    margin: 2rem;
    color: aliceblue;
    outline: none;
    border-radius: 10px;
    background-color: #189AB4;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    
}
.about-container a .about-btn {
    font-size: 20px;
    font-weight: 800;
}
.about-container a:hover {
    background-color: aliceblue;
    color: #189AB4;
    transition: ease all 0.5s;
}
.about-container a:hover i {
    transform:rotate(90deg);
    /* transition: ease all 0.5s; */
}

@media only screen and (max-width: 768px) {
    .about {
       flex-direction: column;
       border: none;
    }
    
    .about p{
    
        border-left: none;
    
    }
}
@media only screen and (max-width: 600px) {
    .about h2{
       font-size: 1.5rem;
    }
    
    .about p{
        font-size: 1rem;
    
    }
}