.form-container {
    padding-top: 3rem;
    
}
.form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 100px;
}
.contact {
    margin-top: 2rem;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: aliceblue;
    text-decoration: underline orange;
    text-underline-offset: 0.5rem;
}
.email {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 25px;
    color: aliceblue;
    font-weight: 500;
}
.form .email-input {
    width: 500px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.form .name-input {
    width: 500px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.form .text-input {
    width: 500px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 10px;
}

.form .btn {
    margin-bottom: 100px ;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: orange;
    color: aliceblue;

}
.form .btn:hover {
    background-color: aliceblue;
    color: rgb(35, 57, 91);
}

@media only screen and (max-width: 600px) {
    .form .email-input {
        width: 250px;
        height: 50px;
        font-size: medium;
    }
    .form .name-input {
        width: 250px;
        height: 50px;
        font-size: medium;
    }
    .form .text-input {
        width: 250px;
        height: 200px;
        font-size: medium;
    }
    .contact {
        font-size: 25px;
    }
    .email {
        font-size: 13px;
    }
}