.project {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.project h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #0000FF;
    padding: 2rem;
}
.project .card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 5rem;
}