/* 
.card {
    position: relative;
    border-radius: 50px;
    
}



.card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius:10%;
    border: solid orange 2px;
}

.card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
    border: solid orange 2px;
}

.card:hover .face.face1{
    transform: translateY(10px);
}

.card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}
.card .face.face1 .content img {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    border: solid orange 2px;
}
.card:hover .face.face1 .content {
    opacity: 1;
    
}

.card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.card:hover .face.face2{
    transform: translateY(-10px);
}
.card .face.face2 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 
.card .face.face2 .content a{
    outline: none;
    border: none;
    color: black;
    font-size: 2rem;
    background-color: white;
    margin: 1rem 1rem;
}

a {
    text-decoration: none;
    color: #414141;
}

@media only screen and (max-width: 400px) {
    .card .face {
        width: 200px;
        height: 133px;
        
    }
    .card .face.face1{
        transform: translateY(67px);
    }
    .card .face.face2 {
        transform: translateY(-67px);
    }
    .card .face.face1 .content img {
        width: 200px;
        height: 150px;
    }
} */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

:root {
  --transition-time: 2.3s;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #212121;
}

section {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.row {
  align-items: center;
  height: 50vh;
}

.card {
  position: relative;
  height: 400px;
  width: 300px;
  margin: 10px 0;
  transition: ease all var(--transition-time);
  perspective: 1200px;
}

.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
  transform: translateZ(30px);
}

.card:hover .cover:after {
  background-color: black;
}

.card:hover .cover h1 {
  transform: translateZ(100px);
}

.card:hover .cover .price {
  transform: translateZ(60px);
}


.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: ease all 0.5s;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.cover:before {
	content: '';
	position: absolute;
	border: 5px solid rgba(255, 255, 255, .5);
	box-shadow: 0 0 12px rgba(0, 0, 0, .3);
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 2;
	transition: ease all 0.5s;
	transform-style: preserve-3d;
	transform: translateZ(0px);
}
.cover:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
	transition: ease all 1.3s;
	background: rgba(0, 0, 0, .4);
}

.cover h3 {
	font-weight: 600;
	position: absolute;
	bottom: 55px;
	left: 50px;
	color: white;
	transform-style: preserve-3d;
	transition: ease all 0.5s;
	z-index: 3;
	font-size: 2.5em;
	transform: translateZ(0px);
}

.card-back {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #189AB4;
	transform-style: preserve-3d;
	transition: ease all 0.5s;
	transform: translateZ(-1px);
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    transform: translateZ(-1px) rotatey(-180deg);

}
.card-back p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    margin-bottom: 30px;

}
.card-back h5 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    margin-bottom: 30px;

}

.card-back .div a {
	transform-style: preserve-3d;
	transition: ease transform 0.5s, ease background .5s;
	background: transparent;
	border: 1px solid white;
	font-weight: 200;
	font-size: 1.3em;
	color: white;
	padding: 14px 32px;
	outline: none;
	text-decoration: none;
}
.card-back a:hover {
	background-color: white;
	color: #0b0f08;
}
