
.card {
    position: relative;
    border-radius: 50px;
    
}



.card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius:10%;
    border: solid orange 2px;
}

.card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10%;
    border: solid orange 2px;
}

.card:hover .face.face1{
    transform: translateY(10px);
}

.card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}
.card .face.face1 .content img {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    border: solid orange 2px;
}
.card:hover .face.face1 .content {
    opacity: 1;
    
}

.card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.card:hover .face.face2{
    transform: translateY(-10px);
}

.card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 
/* .card .face.face2 i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: black;
    font-size: 40px;
} */

.card .face.face2 .content a{
    outline: none;
    border: none;
    color: black;
    font-size: 2rem;
    background-color: white;
    margin: 1rem 1rem;
}

a {
    text-decoration: none;
    color: #414141;
}

@media only screen and (max-width: 400px) {
    .card .face {
        width: 200px;
        height: 133px;
        
    }
    .card .face.face1{
        transform: translateY(67px);
    }
    .card .face.face2 {
        transform: translateY(-67px);
    }
    .card .face.face1 .content img {
        width: 200px;
        height: 150px;
    }
}