.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .footer h2 {
        font-size: 15px;
    }
    .footer h3 {
        font-size: 10px;
    }
}