* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    background-image: url('./images/5053309.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    
}
